*.class
*/dist/*
*/build/*
*/private/*
*private
private.?
private.properties
private.xml
WebAlbums3-Servlet/nbproject/private
*~
WebAlbums3-Downloader/static/
*.pyc
/WebAlbums3-FS/JnetFS_Java/dist/
/WebAlbums3-FS/JnetFS_Java/build/