*.class
*/dist/*
*/build/*
*/private/*
*private
private.?
private.properties
private.xml
*~
*.pyc
/WebAlbums-Servlet/nbproject/private
/WebAlbums-Downloader/static/
/WebAlbums-FS/JnetFS_Java/dist/
/WebAlbums-FS/JnetFS_Java/build/
/WebAlbums-FS/WebAlbums3-FS/build/
/WebAlbums-FS/WebAlbums3-FS/dist/
/WebAlbums-DAO-JPABeans/setup/sun-resources.xml
/WebAlbums-Downloader/download/
/apache-tomee-webprofile/NB/
/WebAlbums-FS/WebAlbums-FS/build/
/WebAlbums-FS/WebAlbums-FS/dist/
/WebAlbums-FS/JnetFS_C/lib/
WebAlbums-FS/JnetFS_C/build/
