/*
  Design by Metamorphosis Design
  http://www.metamorphozis.com
  Released for free under a Creative Commons Attribution 2.5 License
  */


/*
#############################################################
  Name: Bitter Sweet
  Date: 2006-10-02
  Description: Lime flavoured template with two columns.
  Author: Viktor Persson
  URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################
*/

*
{
    margin: 0px;
    padding: 0px;
}

a:link {
    color: #E0E7FF;
}

a:hover {
    text-decoration: none;
    color: #FF0000;
}

a:visited {
    color: #E0E7FF;
}

body {
    font: 13px Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 20px;
}


#main {
    width: 800px;
    background: url(images/table_back.gif) repeat-y;
    margin-top: 20px;
    margin: 0 auto;
}

#top {
    background: url(images/top.gif) no-repeat top
}

#bottom {
    background: url(images/bottom.gif) no-repeat bottom;
}

#header {
    height: 100px;
    width: 721px;
    margin: 0 auto;
}

#menu {
    width: 571px;
    height: 36px;
    padding-left: 150px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    width: 128px;
    height: 26px;
    text-align: center;
    text-decoration: none;
    color: #E0E7FF;
    font-weight: bold;
    font-size: 16px;
    margin-left: 3px;
    padding-top: 10px;
    background: url(images/button.gif) no-repeat;
}

#menu a:hover {
    width: 128px;
    height: 26px;
    color: #037931;
    margin-left: 3px;
    text-decoration: underline;
    background: url(images/button_r.gif) no-repeat;
}


#logo {
    width: 229px;
    height: 64px;
}

#logo a {
    text-decoration: none;
    text-transform: lowercase;
    font-style: italic;
    font-size: 18px;
    color: #000000;
}
#logo H2 a {
    font-size: 12px;
}

#right {
    float: right;
    padding: 10px;
    width: 204px;
    padding-right: 5px;
    padding-top: 30px;
}

#right H3 {
    width: 189px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #ffffff;
}



#right ul {
    border: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    list-style: none;
}

#right H4
{
    font-size: 10px;
}

#right a {
    color: #B2C01D;
    font-size: 11px;
}
#right a:visited {
    color: #B2C01D;
    font-size: 11px;
}

#right p {
    padding: 10px;
}

#left {
    width: 573px;
    padding-left: 20px;
    padding-top: 30px;
}

#footer {
    clear: both;
    height: 47px;
    width: 500px;
    clear: both;
    padding-top: 20px;
    background: url(images/footer.gif) repeat-x;
}

#footer p {
    margin: 0;
    font-size: 10px;
    text-align: center;
    color: #037931;
}

#footer a {
    color: #037931;
}


/* item */
.item {clear: left;}
.item .date {
    background: url(images/bgdate.gif) no-repeat;
    color: #FDD;
    float: left;
    height: 40px;
    text-align: center;
    width: 36px;
}
.item .date div {padding-top: 4px;}
.item .date span {font: normal 1.3em serif;}
.item .content {
    float: left;
    width: 450px;
}
.item h1 {
    background: #567300;
    color: #FFF;
    line-height: 40px;
    padding-left: 16px;
}

.item a.edit {
    background: url(images/edit.png) no-repeat;
    height: 48px;
    width: 48px;
    float: left;
    margin-left: -36px;
}

.item .body {padding: 12px 18px;}

/** **** **/

/* Kevin  */
/* Pouget */

/** **** **/

.item .photo{
    float: left;
}

.item .details {
/*    border: 1px solid #999; */
    height:200px;
}

.item .details .tags {
    font-style: italic;
    vertical-align: top;
    padding-bottom:5px;
}

.item .details .description {
    vertical-align: middle;  
}

.item .details .allowed {
    padding-top:5px;
}
