<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="root.ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>* %d{HH:mm} %-4level %-25logger{5} %file:%line * %msg %ex %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>
    <appender name="net.wazari.ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!-- http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout -->
        <encoder>
            <pattern># %d{HH:mm} %-4level %-25logger{5} %file:%line * %msg %ex %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>

    <logger name="org.hibernate">
         <level value="warn"/>
    </logger>


    <logger additivity="false" name="net.wazari">
        <level value="info"/>
        <appender-ref ref="net.wazari.ConsoleAppender"/>
    </logger>

    <root>
        <level value="warn"/>
        <appender-ref ref="root.ConsoleAppender"/>
    </root>
</configuration>
