<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- User configuration -->
    <context-param>
        <param-name>root_dir</param-name>
        <param-value>../</param-value>
    </context-param>
    <context-param>
        <param-name>auto_login</param-name>
        <param-value>8</param-value>
    </context-param>
    <context-param>
        <param-name>read_only</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>has_internet</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>wants_stats</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>wants_queries</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>lighten_db</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>sgbd</param-name>
        <param-value>mysql</param-value>
    </context-param>

    <!-- listeners -->
    <!--
    <listener>
        <listener-class>engine.SessionCleaner</listener-class>
    </listener>
    -->
</web-app>