/** **** **/

/* Kevin  */
/* Pouget */

/** **** **/

.wmd-preview {
    height:500px;
    overflow:scroll;
}

.carnet_text code {
    background-color: #580CF0;
}

.carnet_text blockquote {
    background-color: #58ACFA;
}

 #mapChoix {
    height: 400px;
    width: 400px;
  }

.gmap_content h1 {
    width: 200px;
    color: #ffffff;
}

.gmap_content {
    width:220px;
    height:200px;

}
.gmap_content img {
    max-width:200px;
    max-height:200px;
    vertical-align:middle;
}

.carnets_opt img {
    max-width:25px;
    max-height:25px;
    vertical-align:middle;
}

.carnets_title img {
    max-width:100px;
    max-height:100px;
    vertical-align:middle;
}

.index_img {
    max-width:200px;
    max-height:200px;
    vertical-align:middle;
}
.exif_tooltip {
    display: none;        /* required */
    position: absolute;   /* required */
    padding: 10px;
    border: 2px solid black;
    background-color: #58ACFA;
    z-index:52;
}

.cloud_tooltip {
    display: none;        /* required */
    position: absolute;   /* required */
    padding: 10px;
    border: 2px solid black;
    background-color: #58ACFA;
    z-index:52;
}

.album_tooltip {
    display: none;        /* required */
    position: absolute;   /* required */
    padding: 10px;
    border: 2px solid black;
    background-color: #58ACFA;
    z-index:52;
}


.details {
    position: relative;
    width: 100%;
    overflow:hidden;
    margin:auto;
}

.details .pict {
    float: left;
    text-align: center;
    width:50%;
}
.details .pict img{
    max-width:95%;
    max-height:200px;
    vertical-align:middle;
}

.details .info {
    float: right;
    width:50%;
}
.details .fastedit_bt {
    float: right;
}

.details .fastedit {
    display:none;
}
.details .info .visibility {
    float: right;
}

.details .info .tags {
}

.details .info .option {
    
    background-color:   #037931
}

.details .info .options .title {
}

.details .info .options .album {
}

.massedit_chk {
    /*display:none;*/
}

#massedit_item {
    /*display:none;*/
}