<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>toto</display-name>
    <servlet>
        <servlet-name>System</servlet-name>
        <servlet-class>net.wazari.view.servlet.Database</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>System</servlet-name>
        <url-pattern>/System</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Authenticate users</display-name>
        <web-resource-collection>
            <web-resource-name>WebAlbums3</web-resource-name>
            <description/>
            <url-pattern>/Index</url-pattern>
            <url-pattern>/Choix</url-pattern>
            <url-pattern>/Albums</url-pattern>
            <url-pattern>/Photos</url-pattern>
            <url-pattern>/Tags</url-pattern>
            <url-pattern>/Images</url-pattern>
            <url-pattern>/Maint</url-pattern>
            <url-pattern>/Database</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>VIEWER</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/Users</form-login-page>
            <form-error-page>/static/images/rien.jpg</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Access to configuration and modification functions</description>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <description>Read-only access</description>
        <role-name>VIEWER</role-name>
    </security-role>
    <security-role>
        <description>View all the pictures</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>View all the Famille pictures</description>
        <role-name>Famille</role-name>
    </security-role>
    <security-role>
        <description>View all the Amis pictures</description>
        <role-name>Amis</role-name>
    </security-role>
    <security-role>
        <description>View all the Autres pictures</description>
        <role-name>Autres</role-name>
    </security-role>
</web-app>
